<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결과</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">독립출판사란?</a></li>
                <li><a href="/contact">1 : 1 문의</a></li>
                <li><a href="/contact/list">문의 목록</a></li>
            </ul>
        </nav>
        <h1>결과</h1>
        <p><%= message %></p>
    </div>
</body>
</html>
