.home-container {
  margin: 0;
  padding: 0;
  height: 450vh;
  background-color: #EEF7FF;
}



.null{
    position: absolute;
    top: 650px;
    left: 0px;
    right: 0px;
    height: 200px;
    width: 100%;
    background-color: black;
}