/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
} */


.info {
  /* position: relative; */
  max-width: 800px;
  margin: 150px auto;
  height: 2000px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}


p {
  line-height: 1.6;
  color: #666;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.store_name a:visited {
  color: mediumslateblue;
}

.list_name a {
  color: #333; /* Ensure links have a color for better visibility */
}

.list {
  border : none !important;
  /* text-align: center; */
  padding-top: 0px; 
  margin-top: 0px;  
}

.get{
  margin-bottom: -220px;
}

.andfilm{
  display: inline;
  width: 100px;
}

.byeol{
  display: inline;
  padding-top: 50px;
  width : 150px;
  margin-left: -10px;
}

.explain{
  display: inline;
}

.yourmind{
  width: 80px;
  display: inline;
  /* margin-left: -40px; */
}

.dasi{
  width: 100px;
  display: inline;
}

/* .onemore{
  width: 100px;
  display: inline;
} */

/* #andfilm{
  display: inline;
} */