.LogIn-container{
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.book-container{
  background-color: #CDE8E5;
  width:55%;
}

.login-container{
  background-color: #7AB2B2;
  width:45%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.login-title {
  position: absolute;
  font-size: 70px;
  color: #4D869C;
  top: 200px;
  left: 60px;
}

.login-text {
  position: absolute;
  font-size: 25px;
  top: 330px;
  left: 60px;
  color:#4D869C;
}


form {
  width: 300px;
  height: 500px;
}

.b {
  color: #F9F7F7;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 30px;
}

label {
  color: #F9F7F7;
  display: block;
  margin-bottom: 30px;
}

input {
  color: #3F72AF;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginButton {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  background-color: white;
  color: #112D4E;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signinButton{
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  background-color: white;
  color: #112D4E;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #112D4E;
  color: #F9F7F7;
}



