body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #EEF7FF;
}

.container {
  /* position: relative; */
  max-width: 800px;
  margin: 150px auto;
  height: 750px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1, h2, h3 {
  color: #333;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: grey;
}

input[type="text"],
input[type="email"]
{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: horizontal; 
}

textarea {
  width: 600px;
  padding: 10px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  resize: horizontal;
}

#send_button {
  width: 100%;
  padding: 10px;
  background-color: #a6acb2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#send_button:hover {
  background-color: #112D42;
}

