
.signin-container{
  background-color: #3F72AF;
  height: 100vh;
  display:flex;
  justify-content: center;
}

.c {
  width: 300px;
  height: 500px;
  position: absolute;
  top: 50px;
}

.signupButton{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  color: #112D4E;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #112D4E;
  color: #F9F7F7;
}

.error {
  color:#f9f7f7;
  font-size: 17px;
}
