
.signin-container{
  background-color: #7AB2B2;
  height: 100vh;
  display:flex;
  justify-content: center;
}

.c {
  width: 300px;
  height: 500px;
  position: absolute;
  top: 60px;
}

.signupButton{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #EEF7FF;
  color: #4D869C;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4D869C;
  color: #EEF7FF;
}

.error {
  color:#EEF7FF;
  font-size: 17px;
}
