.head {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  height: 100px;
  width: 100%;
}

.logo {
  display: block;
  max-width: 100px;
  max-height: 100px;
  margin: auto;
  font-style: oblique;
  font-size: 30px;
  font-weight: bold;
  color: #4D869C;
}

.logout {
  color: #4D869C;
  font-size: 15px;
  background-color: #CDE8E5;
  font-weight: 600;
  position: absolute;
  top: 15px;
  right: 200px;
  border-radius: 15px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
  
}