.row-container {
  position: relative;
  top: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.row-title {
  font-size: 40px;
  font-weight: bold;
  color: #7AB2B2;
}

.row {
  position: relative;
  top: 70px;
  border-radius: 30px;
  height: 600px;
  width: 1400px;
  display: flex;
  align-items: center;
  background-color: #7AB2B2;
  color:#EEF7FF;
}

.review_content{
  display: flex;
  flex-direction: column;
}

.swiper-button-next {
  color: #EEF7FF;
}

.swiper-button-prev {
  color: #EEF7FF;
}

.bookslide {
  display: flex;
  flex-direction: row;
  height: 600px;
}

.book1 {
  width: 350px;
  display:flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 80px;
}

.book2 {
  width: 510px;
  display:flex;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  left: 430px;
  align-items: center;
  padding-left: 30px;
  
}

.book3 {
  width: 350px;
  display:flex;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  right: 80px;
  align-items: center;
  padding-left: 30px;
  
}

.bookimg{
  width: 250px;
}

.bookname{
  display: flex;
  padding-top: 50px;
  font-size: 30px;
  
}

